# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Listing popular tools for data science
- Listing popular languages for data science
- Evaluating simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

Data Science Tools|
---|
RStudio|
Apache Spark|
Jupyter

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This multiplies and adds numbers
(3*4)+5

17

In [2]:
# This will convert 200 minutes into hours
200/60

3.3333333333333335

## Author
Greg K